.home__flex .head {
    font-size: 35px;
    font-weight: 500;
}

.home__flex .text {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

.home__flex .home__btn {

    transform: 'translateY(-50%)';
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;

    /* position: fixed;
    right: 170px; */
    /* right: 170px;
    border-end-end-radius: 23px;
    border-start-end-radius: 23px;
    height: 41px;
    color: black;
    font-weight: normal;
    font-size: 14px; */
}

.home__flex input {
    /* border-color: black; */

}

.home__flex input:focus {
    outline-color: rgb(189, 189, 189) !important;
    transition: 1 ease-out;
}


.options__card {
    cursor: pointer;
    transition: 0.2s ease;
}

.options__card:hover {
    background: #eee !important;
}

.feature__btn {
    font-size: 13px;
    font-weight: normal;
}

.home__flex input {
    font-size: 13px;
}

.home__card__link {
    text-decoration: none;
    color: black;
}