.auth_form input {
    font-size: 95%;

}

.auth_form input:focus {
    outline: 1px solid rgb(0, 0, 0);
    transition: 1 ease-out;

    /* Change the color to your desired color */
}

.auth_form {
    margin-top: 70px;


}

.auth_text {
    font-size: 25px !important;
    font-family: bold;
    font-family: 'Montserrat', sans-serif !important;

    font-weight: bolder;
    padding-left: 10px;

}

.auth_text2 {
    font-size: 25px !important;
    font-family: bold;
    font-family: 'Montserrat', sans-serif !important;
    padding-right: 10px;

    font-weight: bolder;



}

.auth_text span {
    font-size: 25px;
    font-family: bold;
    background: rebeccapurple;
}

.auth__forgot__password {
    text-align: end;
    font-size: 14px;
    margin-top: 4px;
    color: teal;
}

.auth__text__input {
    height: 73px;
    margin-bottom: -5px;
}

.auth__text__input .m-96bdd299 p {
    font-size: 2px !important;
}

.auth_form .auth__f .mantine-TextInput-error {
    font-size: 2px !important;
}

.auth__login__btn {
    font-weight: normal;
}